.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*~
git-log.xml
book-revhistory.xml
beam-book-from-ab.xml
beam-book.pdf
opcodes_doc.asciidoc
.#.gitignore
genop.tab
book.html
chapters/contributors.txt
xml/*.png
xml/*.png.md5
images/diag-*.png
site
.asciidoctor
.DS_Store
